@import "../../styles/index.scss";

.label {
    @extend .headline;
    display: flex;
    width: 100%;
    color: var(--grey-0);
    margin: 1.4rem;
    margin-left: 0;
    margin-right: 0;
}

.error{
    @extend .headline;
    color: var(--wrong-cred);
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.inputContainer{
    width: 100%;
    max-width: 100%;
}