@import "./reset.scss";
@import "./GlobalStyles.scss";
@import "./typography.scss";
@import "./input.scss";
@import "./button.scss";


*{
    font-family: 'Inter',sans-serif;
}
HTML{

    overflow: auto;
}
body{
    background-color: var(--grey-4);
    width: 100vw;
    height: 100vh;
};
#root{
    width: 100vw;
    height: 100vh;
};
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}