.title1 {
  font-size: 1.125rem;
  font-weight: bold;
}
.title2 {
  font-size: 1rem;
  font-weight: bold;
}
.headline {
  font-size: 0.75rem;
}
.headlineBold {
  font-size: 0.75rem;
  font-weight: bold;
}
.paragraph {
  font-size: 1rem;
}
