@import "../../styles/index.scss";

.loginLogo {
  width: 9.00394rem;
  height: 1.24838rem;
  margin-bottom: 2.23rem;
}
.loginTitle {
  @extend .title1;
  color: var(--grey-0);
}
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
}
.loginContainer {
  border-radius: 0.3rem;
  display: flex;
  padding: 2.625rem 1.375rem;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  background-color: var(--grey-3);
}
.resgisterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.registerBtn {
  @extend .buttonDisabled;
  @extend .paragraph;
  text-decoration: none;
}
.small {
  @extend .headlineBold;
  color: var(--grey-1);
  text-align: center;
  margin-bottom: 1.37rem;
  margin-top: 0.75rem;
}

@media (max-width: 320px) {
  .loginSection {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    width: 95%;
  }
  .loginLogo {
    margin: 0 auto;
  }
  .loginContainer {
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
    padding-top: 1.25rem;
    max-width: 100%;
    width: 90%;
  }
  .resgisterContainer {
    margin-bottom: 1rem;
    align-items: center;
  }
  .registerBtn {
    width: 84%;
  }
}

@media (min-width: 321px) and (max-width: 430px) {
  .loginSection {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    width: 95%;
  }
  .loginContainer {
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
    padding-top: 1.25rem;
    max-width: 100%;
    width: 90%;
  }
  .resgisterContainer {
    margin-bottom: 1rem;
    align-items: center;
  }
  .registerBtn {
    width: 84%;
  }
}
