@import "../../styles/index.scss";

.inputSelectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputSelect {
  @extend .input;
  border-color: var(--grey-0);
  @extend .paragraph;
  color: var(--grey-1);
  width: 100%;
}
.label {
  @extend .headline;
  display: flex;
  width: 100%;
  color: var(--grey-0);
  margin: 1.4rem;
  margin-left: 0;
  margin-right: 0;
}